# Data Types, Type Casting, Slicing, Operators, Conditional Statements, List, Tuples, Dictionary, Set, Functions, Loops

* ###  Q1) Convert the string s='India Recovering from Covid' to uppercase and split it into a list.

In [1]:
s='India Recovering from Covid'
s.upper().split()

['INDIA', 'RECOVERING', 'FROM', 'COVID']

* ###  Q2) Write code for 9 divided by 2(Dividend=9, Divisor=2). The answer should be 4.

In [3]:
9//2

4

* ###  Q3) Solve the expression.   5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1') (Note: This is for understanding of Typecasting)

In [2]:
5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

17.2

* ###  Q4)Given the string str='Certified Data Scientist'. Print 'Data' from the string 3 times. O/p should be 'DataDataData'

In [5]:
str='Certified Data Scientist'
t=str.split()
t[1]*3

'DataDataData'

* ###  Q5) Solve this expression. value= 3/2*3+(12/4)**3+5-2. (Note:This for understanding the hierarchy of operators)

In [1]:
3/23+(12/4)*3+5-2

12.130434782608695

In [3]:
3/23

0.13043478260869565

* ###  Q6)Write code to test whether the given number lies between 1 to 10.

In [5]:
x=int(input("enter the number"))
if(x<=10 and x>0):
    print("The number lies between 1 to 10")
else:
    print("The number doesnot lies between 1 to 10")

enter the number12
The number doesnot lies between 1 to 10

* ###  Q7)Solve  
* sum the numbers from 1 to 20 using for loop
* Display the numbers in reverse from 100 to 1(Use negative indexing for step)
* Display multiples of 2 from 10 to 50 using range

In [7]:
sum=0
for i in range(1,21):
    sum=sum+i
print(sum)

210

In [8]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(10,51):
    if(i%2==0):
        print("{} is a multiple of 2".format(i))
    else:
        print("{} is not a multiple of 2".format(i))

10 is a multiple of 2
11 is not a multiple of 2
12 is a multiple of 2
13 is not a multiple of 2
14 is a multiple of 2
15 is not a multiple of 2
16 is a multiple of 2
17 is not a multiple of 2
18 is a multiple of 2
19 is not a multiple of 2
20 is a multiple of 2
21 is not a multiple of 2
22 is a multiple of 2
23 is not a multiple of 2
24 is a multiple of 2
25 is not a multiple of 2
26 is a multiple of 2
27 is not a multiple of 2
28 is a multiple of 2
29 is not a multiple of 2
30 is a multiple of 2
31 is not a multiple of 2
32 is a multiple of 2
33 is not a multiple of 2
34 is a multiple of 2
35 is not a multiple of 2
36 is a multiple of 2
37 is not a multiple of 2
38 is a multiple of 2
39 is not a multiple of 2
40 is a multiple of 2
41 is not a multiple of 2
42 is a multiple of 2
43 is not a multiple of 2
44 is a multiple of 2
45 is not a multiple of 2
46 is a multiple of 2
47 is not a multiple of 2
48 is a multiple of 2
49 is not a multiple of 2
50 is a multiple of 2

In [9]:
for i in range(10,51,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

* ###  Q8) From the below nested dictionary, pick the word "Bangalore". 
* d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [14]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][3]['Place'][3]
#d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

* ###  Q9) Use functions to return square of numbers from 2 to 5

In [11]:
def exponent(x):#Function definition
    sq=x**x
    print(sq)
for i in range(2,6):
    exponent(i) #Function Call

4
27
256
3125

In [15]:
def square(x):
    sq=x*x
    print(sq)
for i in range(2,6):
    square(i) #Function Call

4
9
16
25

* ###  Q10) Solve. Given the sets s1={1,2,4,5,8} s2={2,3,4,6,7}
* Find max element from s1 and minimum element from s2
* Find the union and intersection of s1 and s2

In [16]:
s1={1,2,4,5,8,1} 
s2={2,3,4,6,7,3,2}
print("Set 1 is",s1)
print("Set 2 is",s2)
print("Maximum and Minimum values are {} and {}".format(max(s1),min(s2)))
print("The union =",s2 | s1)
print("The Intersection =",s1 & s2)

Set 1 is {1, 2, 4, 5, 8}
Set 2 is {2, 3, 4, 6, 7}
Maximum and Minimum values are 8 and 2
The union = {1, 2, 3, 4, 5, 6, 7, 8}
The Intersection = {2, 4}

In [18]:
a= int(input('Enter the value'))
print('Task: Checking value lies within range of 1 to 10')
if (1<a & a<10):
    print('Entered value lies within range:', a)
else:
    print('Entered value is out of range:', a)

Enter the value12
Task: Checking value lies within range of 1 to 10
Entered value is out of range: 12