# Quantile

In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('weight.csv')
dat.head()

      Name  Weight
0    Mohan      72
1    Shash      15
2  Nithila      11
3    Venba       2
4   Aaksha     400

In [11]:
max = dat['Weight'].quantile(0.50)
max

62.0

In [12]:
dat[dat['Weight']>max]

     Name  Weight
0   Mohan      72
4  Aaksha     400
6  Sakthi      78
7  Selvam      80
8  Dhevan      76

In [6]:
min = dat['Weight'].quantile(0.05)
min

6.050000000000001

In [10]:
dat[dat['Weight']<min]

    Name  Weight
3  Venba       2

# One Hot Encoder

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelBinarizer

    # Creating Data With One Class Label
    # Creating NumPy array
x = np.array([['Texas'],
                  ['California'],
                  ['Texas'],
                  ['Delaware'],
                  ['Texas']])
y = np.array([['Male'],['Female'],['Male'],['Male'],['Female'],['Female']])
    # One-hot Encode Data (Method 1)

    # Creating LabelBinzarizer object
one_hot = LabelBinarizer()
one_hot1 = LabelBinarizer()
    # One-hot encode data
print(one_hot.fit_transform(x))
print(one_hot1.fit_transform(y))
    # View Column Headers
    # View classes
print(one_hot.classes_)
print(one_hot1.classes_)