In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
data.shape

(1728, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [5]:
data.describe()

             doors      persons
count  1728.000000  1728.000000
mean      3.500000     3.666667
std       1.118358     1.247580
min       2.000000     2.000000
25%       2.750000     2.000000
50%       3.500000     4.000000
75%       4.250000     5.000000
max       5.000000     5.000000

In [6]:
from sklearn.preprocessing import LabelEncoder
from collections import Counter 
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [7]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [8]:
data['buying'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [9]:
data['maint'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [10]:
data['lug_boot'].unique()

array(['small', 'med', 'big'], dtype=object)

In [11]:
data['safety'].unique()

array(['low', 'med', 'high'], dtype=object)

In [12]:
X = data.iloc[:,:-1]
y = data.outcome
X.head(10)

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med
5  vhigh  vhigh      2        2      med   high
6  vhigh  vhigh      2        2      big    low
7  vhigh  vhigh      2        2      big    med
8  vhigh  vhigh      2        2      big   high
9  vhigh  vhigh      2        4    small    low

In [13]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(10)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2
5       3      3      2        2         1       0
6       3      3      2        2         0       1
7       3      3      2        2         0       2
8       3      3      2        2         0       0
9       3      3      2        4         2       1

In [14]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=15)

In [16]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
119        3      0      2        4         2       0
1246       2      1      4        2         1       2
871        2      3      2        2         0       2
1136       2      2      4        2         2       0
686        0      2      3        4         2       0

In [17]:
model = KNeighborsClassifier(n_neighbors=5,metric='euclidean')
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [18]:
accuracy_score(y_test,y_predict)

0.9248554913294798

In [19]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\91950\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\91950\anaconda3\lib\site-packages (from imblearn) (0.7.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\91950\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.5.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\91950\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in c:\users\91950\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.16.0)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\91950\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91950\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [21]:
X_train_smote,y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [22]:
from collections import Counter
print("Actual Classes",Counter(y_train))
print("SMOTE Classes",Counter(y_train_smote))

Actual Classes Counter({'unacc': 976, 'acc': 301, 'vgood': 55, 'good': 50})
SMOTE Classes Counter({'unacc': 976, 'acc': 976, 'vgood': 976, 'good': 976})

In [23]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

0.9450867052023122