In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('data/car_evaluation.csv')
data

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        5      med    med    good
1724    low    low      5        5      med   high   vgood
1725    low    low      5        5      big    low   unacc
1726    low    low      5        5      big    med    good
1727    low    low      5        5      big   high   vgood

[1728 rows x 7 columns]

In [4]:
data.shape

(1728, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [6]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [7]:
data.describe()

             doors      persons
count  1728.000000  1728.000000
mean      3.500000     3.666667
std       1.118358     1.247580
min       2.000000     2.000000
25%       2.750000     2.000000
50%       3.500000     4.000000
75%       4.250000     5.000000
max       5.000000     5.000000

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [11]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [13]:
X=data.iloc[:,:-1]
y=data.outcome

In [15]:
X

     buying  maint  doors  persons lug_boot safety
0     vhigh  vhigh      2        2    small    low
1     vhigh  vhigh      2        2    small    med
2     vhigh  vhigh      2        2    small   high
3     vhigh  vhigh      2        2      med    low
4     vhigh  vhigh      2        2      med    med
...     ...    ...    ...      ...      ...    ...
1723    low    low      5        5      med    med
1724    low    low      5        5      med   high
1725    low    low      5        5      big    low
1726    low    low      5        5      big    med
1727    low    low      5        5      big   high

[1728 rows x 6 columns]

In [16]:
enc=LabelEncoder()

In [17]:
X.buying = enc.fit_transform(X.buying)
X.maint =enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)

In [19]:
X['buying'].unique()

array([3, 0, 2, 1])

In [20]:
data['buying'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [46]:
X_train.shape

(1382, 6)

In [47]:
X_test.shape

(346, 6)

In [48]:
X.shape

(1728, 6)

In [89]:
model= KNeighborsClassifier(n_neighbors=7,metric='euclidean')

In [90]:
model.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [91]:
y_predict=model.predict(X_test)
y_predict

array(['unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'vgood',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'good', 'vgood', 'good', 'unacc', 'acc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'acc',
       'unacc', 'unacc', 'good', 'unacc', 'unacc', 'unacc', 'good',
       'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'good', 'unacc', 'unacc', 'good',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'good', 'good', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'good', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'vgood', 'unacc', 'acc', 'unacc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'vgood', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'good', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'good', 'good',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'vgood',
       'vgood', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'vgood',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'good', 'unacc', 'unacc', 'unacc',
       'acc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'acc', 'acc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc'], dtype=object)

In [92]:
X_train

      buying  maint  doors  persons  lug_boot  safety
153        3      0      3        5         2       1
1333       1      3      3        4         2       2
1509       1      0      5        5         0       1
703        0      2      4        2         2       2
1672       1      1      3        5         0       2
...      ...    ...    ...      ...       ...     ...
1393       1      3      5        4         0       2
1344       1      3      3        5         1       1
527        0      3      5        4         1       0
1149       2      2      4        4         0       1
1289       2      1      5        5         2       0

[1382 rows x 6 columns]

In [93]:
accuracy_score(y_test,y_predict)

0.9566473988439307

In [88]:
confusion_matrix(y_test,y_predict)

array([[ 60,   1,   3,   0],
       [  5,   8,   0,   0],
       [  3,   0, 248,   0],
       [  4,   3,   0,  11]])

In [55]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       56     2      5      1
good       6     7      0      0
unacc     18     0    233      0
vgood      4     2      0     12

In [56]:
data['outcome'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [97]:
model.predict([[2.,2.,2.,2.,2.,2.]])

array(['unacc'], dtype=object)