In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/car_evaluation.csv')
data

     buying  maint  doors  persons lug_boot safety outcome
0     vhigh  vhigh      2        2    small    low   unacc
1     vhigh  vhigh      2        2    small    med   unacc
2     vhigh  vhigh      2        2    small   high   unacc
3     vhigh  vhigh      2        2      med    low   unacc
4     vhigh  vhigh      2        2      med    med   unacc
...     ...    ...    ...      ...      ...    ...     ...
1723    low    low      5        5      med    med    good
1724    low    low      5        5      med   high   vgood
1725    low    low      5        5      big    low   unacc
1726    low    low      5        5      big    med    good
1727    low    low      5        5      big   high   vgood

[1728 rows x 7 columns]

In [3]:
data.shape

(1728, 7)

In [4]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [5]:
data.describe()

             doors      persons
count  1728.000000  1728.000000
mean      3.500000     3.666667
std       1.118358     1.247580
min       2.000000     2.000000
25%       2.750000     2.000000
50%       3.500000     4.000000
75%       4.250000     5.000000
max       5.000000     5.000000

In [7]:
X=data.iloc[:,:-1]
y=data.outcome

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
enc=LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint =enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)

In [10]:
X

      buying  maint  doors  persons  lug_boot  safety
0          3      3      2        2         2       1
1          3      3      2        2         2       2
2          3      3      2        2         2       0
3          3      3      2        2         1       1
4          3      3      2        2         1       2
...      ...    ...    ...      ...       ...     ...
1723       1      1      5        5         1       2
1724       1      1      5        5         1       0
1725       1      1      5        5         0       1
1726       1      1      5        5         0       2
1727       1      1      5        5         0       0

[1728 rows x 6 columns]

In [11]:
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.svm import SVC

In [74]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=10)

In [75]:
model= SVC()

In [76]:
model.fit(X_train,y_train)

SVC()

In [77]:
y_predict=model.predict(X_test)

In [78]:
accuracy_score(y_test,y_predict)

0.8554913294797688