# Pandas

In [3]:
import pandas as pd 
import numpy as np

Series

In [10]:
#creating by np array
series=pd.Series(np.arange(1,6),index=['a','b','c',"d",'e'])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
print(series[1:4])
print(series['b'])
print(series.iloc[3])
print(series.loc['e'])

b    2
c    3
d    4
dtype: int64
2
4
5

In [22]:
series1=pd.Series({'name':'Ronesh','surname':'Gangavani','salary':40000})
series1

name          Ronesh
surname    Gangavani
salary         40000
dtype: object

In [29]:
print(series1['name'])
print(series1[:2])

Ronesh
name          Ronesh
surname    Gangavani
dtype: object