In [1]:
import numpy as np
import pandas as pd

In [4]:
import yfinance as yf

In [7]:
import plotly.graph_objs as go

In [23]:
data = yf.tickers

In [24]:
data

In [22]:
data=data.reset_index()

In [18]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-24 09:30:00-05:00,54.459999,54.500000,54.459999,54.500000,54.500000,987426
2021-02-24 09:31:00-05:00,54.459999,54.599998,54.130001,54.160000,54.160000,242763
2021-02-24 09:32:00-05:00,54.149502,54.410000,53.919998,54.410000,54.410000,351755
2021-02-24 09:33:00-05:00,54.410000,54.709999,54.310001,54.409901,54.409901,171585
2021-02-24 09:34:00-05:00,54.430000,54.630001,54.410000,54.619999,54.619999,92925
...,...,...,...,...,...,...
2021-03-02 12:49:00-05:00,54.630001,54.639999,54.590000,54.590000,54.590000,9783
2021-03-02 12:50:00-05:00,54.570000,54.570000,54.549999,54.559898,54.559898,14324
2021-03-02 12:51:00-05:00,54.555000,54.590000,54.525002,54.590000,54.590000,28958
2021-03-02 12:52:00-05:00,54.590000,54.590000,54.510101,54.529900,54.529900,15720
2021-03-02 12:53:01-05:00,54.529999,54.529999,54.529999,54.529999,54.529999,0