# Pandas

### Q1) Create a dictionary with column names- empid, empname, sal, DOJ. Put this into a dataframe and display the rows in reverse order.
* Retrieve maximum and minimum salary
* Display the empid and empname whose salary is greater than 20000
* Display the empid and empname whose salary is greater than 10000 and lessthan 40000
* Sort the rows based on the alphabetical order based on empname

In [ ]:
#Create Dictionary

In [ ]:
#Reverse Order

In [ ]:
#Maximum Salary

In [ ]:
#Minimum Salary

In [ ]:
#Display the empid and empname whose salary is greater than 20000

In [ ]:
#Display the empid and empname whose salary is greater than 10000 and lessthan 40000

In [ ]:
#Sort the rows based on the alphabetical order based on empname

### Q2) Create a dataframe with 4 columns and 5 rows(leave some empty values),check for null values and fill the values of nan with 100.

In [ ]:
#Create dataframe

In [ ]:
#check for null values

In [ ]:
#fill the values of nan with 100