In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('mtcars_empty_data.csv')
data.head()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2

In [3]:
data.loc[0,'hp']=np.nan

In [5]:
data.tail()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.6,1,1,4,2

In [7]:
data.loc[31,'hp']=np.nan
data.tail()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.9,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.5,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.5,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.6,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.6,1,1,4,2

In [8]:
data.isnull().sum()

Unnamed: 0    0
model         0
mpg           3
cyl           0
disp          0
hp            5
drat          0
wt            0
qsec          0
vs            0
am            0
gear          0
carb          0
dtype: int64

In [9]:
data.shape

(32, 13)

In [10]:
data

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

# Filling nan Values
* any value
* ffill
* bfill
* mean

In [11]:
data.fillna(value=100)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,100.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,100.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,100.0,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,100.0,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,100.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,100.0,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,100.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,100.0,4.11,2.780,18.60,1,1,4,2

In [13]:
data.fillna(method='ffill')

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,93.0,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,18.1,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,215.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,14.7,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,150.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,335.0,4.11,2.780,18.60,1,1,4,2

In [14]:
data.fillna(method='bfill')

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,22.8,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,175.0,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,24.4,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,66.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,30.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,175.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [15]:
data.fillna(data.mean())

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.000000,6,160.0,144.074074,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,19.834483,6,160.0,110.000000,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.800000,4,108.0,93.000000,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.400000,6,258.0,144.074074,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.700000,8,360.0,175.000000,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.100000,6,225.0,105.000000,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,19.834483,8,360.0,245.000000,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.400000,4,146.7,62.000000,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.800000,4,140.8,95.000000,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.200000,6,167.6,123.000000,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.800000,6,167.6,123.000000,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.400000,8,275.8,180.000000,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.300000,8,275.8,180.000000,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.200000,8,275.8,180.000000,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.400000,8,472.0,205.000000,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.400000,8,460.0,215.000000,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.700000,8,440.0,144.074074,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,19.834483,4,78.7,66.000000,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.400000,4,75.7,52.000000,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.900000,4,71.1,65.000000,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.500000,4,120.1,97.000000,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.500000,8,318.0,150.000000,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.200000,8,304.0,150.000000,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.300000,8,350.0,144.074074,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.200000,8,400.0,175.000000,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.300000,4,79.0,66.000000,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.000000,4,120.3,91.000000,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.400000,4,95.1,113.000000,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.800000,8,351.0,264.000000,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.700000,6,145.0,175.000000,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.000000,8,301.0,335.000000,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.400000,4,121.0,144.074074,4.11,2.780,18.60,1,1,4,2

# Dropping Rows and Columns
* dropna
* drop

In [17]:
data

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [18]:
#dropping the rows
d=data.dropna()
d

(24, 13)

In [19]:
data.dropna(how='all') #drop rows whose columns are empty

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [20]:
d

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8

In [21]:
d.reset_index(drop=True)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
1,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
2,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
3,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
4,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
5,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
6,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
7,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
8,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
9,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
10,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
11,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
12,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
13,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
14,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
15,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
16,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
17,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
18,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
19,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
20,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
21,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
22,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
23,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8

In [22]:
data

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [25]:
data.drop(['Unnamed: 0'],axis=1,inplace=True) #axis=1->column axis=0->row

In [26]:
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [27]:
data.drop(25,axis=0)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,NaN,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,NaN,4.11,2.780,18.60,1,1,4,2

In [32]:
dd = pd.DataFrame({'col1':['a','b','c'],'col2':['c','d','e'],'col3':['a','b','c'],'col4':['c','f','e'],'col5':['x','d','i'],'col6':['n','b','r']})
dd

  col1 col2 col3 col4 col5 col6
0    a    c    a    c    x    n
1    b    d    b    f    d    b
2    c    e    c    e    i    r

In [33]:
dd.duplicated()

0    False
1    False
2    False
dtype: bool

In [37]:
t=dd.transpose()

In [38]:
t.shape

(6, 3)

In [40]:
t

      0  1  2
col1  a  b  c
col2  c  d  e
col3  a  b  c
col4  c  f  e
col5  x  d  i
col6  n  b  r

In [39]:
t.duplicated()

col1    False
col2    False
col3     True
col4    False
col5    False
col6    False
dtype: bool

In [41]:
t.drop_duplicates()

      0  1  2
col1  a  b  c
col2  c  d  e
col4  c  f  e
col5  x  d  i
col6  n  b  r

In [42]:
t.drop_duplicates(1)

      0  1  2
col1  a  b  c
col2  c  d  e
col4  c  f  e

In [43]:
t.drop_duplicates(2)

      0  1  2
col1  a  b  c
col2  c  d  e
col5  x  d  i
col6  n  b  r

# Transforming Data and Feature Creation

In [45]:
cars = pd.read_csv('mtcars.csv')
cars.head(2)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [46]:
cars.shape

(32, 12)

In [49]:
#Adding a new record
cars_new = pd.DataFrame(['Tata Nano',25,5,150,120,3.5,2.56,15.43,0,0,4,4])
cars_new

            0
0   Tata Nano
1          25
2           5
3         150
4         120
5         3.5
6        2.56
7       15.43
8           0
9           0
10          4
11          4

In [53]:
d=cars_new.transpose()
d

           0   1  2    3    4    5     6      7  8  9 10 11
0  Tata Nano  25  5  150  120  3.5  2.56  15.43  0  0  4  4

In [51]:
cars.columns

Index(['car_model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [54]:
d.columns=['car_model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs','am', 'gear', 'carb']
d

   car_model mpg cyl disp   hp drat    wt   qsec vs am gear carb
0  Tata Nano  25   5  150  120  3.5  2.56  15.43  0  0    4    4

In [55]:
cars_up=pd.concat([cars,d],ignore_index=True)
cars_up

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
5,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
7,Valiant 2,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
8,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
23,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
30,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2
32,Tata Nano,25,5,150,120,3.5,2.56,15.43,0,0,4,4

In [56]:
cars_up1=pd.concat([d,cars])#,ignore_index=True)
cars_up1

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Tata Nano,25,5,150,120,3.5,2.56,15.43,0,0,4,4
0,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
5,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
7,Valiant 2,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
8,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
23,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
30,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [57]:
cars_up1=pd.concat([d,cars],ignore_index=True)
cars_up1

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Tata Nano,25,5,150,120,3.5,2.56,15.43,0,0,4,4
1,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
2,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
3,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
4,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
5,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
6,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
7,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
8,Valiant 2,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
9,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
13,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
14,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
15,Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
16,Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4
17,Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
18,Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
21,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
22,Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
23,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
24,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
25,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
26,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
27,Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
29,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
30,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
31,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
32,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [58]:
cars.loc[cars.mpg>20,'Banglore'] = 1
cars.loc[cars.mpg<=20,'Banglore'] = 0

In [59]:
cars

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Banglore
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,1.0
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.0
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,0.0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,0.0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,0.0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,0.0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,0.0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,0.0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,0.0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,0.0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,1.0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,1.0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,1.0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,1.0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,0.0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,0.0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,0.0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,1.0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,1.0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,1.0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,0.0
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,1.0

In [61]:
cars.loc[(cars.mpg>20) | (cars.am==1),'Good'] = 1
cars.loc[(cars.mpg<=20) | (cars.am==0),'Good'] = 0
cars

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Banglore,Good
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1.0,1.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1.0,1.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0,1.0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,1.0,0.0
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0,1.0
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.0,0.0
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,0.0,0.0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,0.0,0.0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,0.0,0.0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,0.0,0.0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,0.0,0.0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,0.0,0.0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,0.0,0.0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,0.0,0.0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,1.0,1.0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,1.0,1.0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,1.0,1.0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,1.0,0.0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,0.0,0.0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,0.0,0.0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.0,0.0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,0.0,0.0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,1.0,1.0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,1.0,1.0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,1.0,1.0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.0,0.0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.0,0.0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,0.0,0.0
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,1.0,1.0

In [ ]:
#Data Aggregation->count,max,min,std,var,mean,median

In [62]:
cars.count()

car_model    32
mpg          32
cyl          32
disp         32
hp           32
drat         32
wt           32
qsec         32
vs           32
am           32
gear         32
carb         32
Banglore     32
Good         32
dtype: int64

In [63]:
cars.max()

car_model    Volvo 142E
mpg                33.9
cyl                   8
disp                472
hp                  335
drat               4.93
wt                5.424
qsec              20.22
vs                    1
am                    1
gear                  5
carb                  8
Banglore              1
Good                  1
dtype: object

In [64]:
cars.min()

car_model    AMC Javelin
mpg                 10.4
cyl                    4
disp                71.1
hp                    52
drat                2.76
wt                 1.513
qsec                14.5
vs                     0
am                     0
gear                   3
carb                   1
Banglore               0
Good                   0
dtype: object

In [65]:
cars.std()

mpg           5.989184
cyl           1.712148
disp        121.708557
hp           67.540542
drat          0.566628
wt            0.992515
qsec          1.606035
vs            0.507007
am            0.504016
gear          0.745281
carb          1.689328
Banglore      0.498991
Good          0.482559
dtype: float64

In [66]:
cars.mean()

mpg          19.875000
cyl           6.187500
disp        227.925000
hp          145.781250
drat          3.553125
wt            3.200375
qsec         17.821563
vs            0.468750
am            0.437500
gear          3.656250
carb          2.718750
Banglore      0.406250
Good          0.343750
dtype: float64

In [67]:
cars.median()

mpg          18.6500
cyl           6.0000
disp        225.0000
hp          118.0000
drat          3.6600
wt            3.4375
qsec         17.9000
vs            0.0000
am            0.0000
gear          3.5000
carb          2.0000
Banglore      0.0000
Good          0.0000
dtype: float64

In [68]:
cars.var()

mpg            35.870323
cyl             2.931452
disp        14812.972903
hp           4561.724798
drat            0.321067
wt              0.985086
qsec            2.579349
vs              0.257056
am              0.254032
gear            0.555444
carb            2.853831
Banglore        0.248992
Good            0.232863
dtype: float64

In [69]:
#Grouping->groupby
cars_gp=cars.groupby('am')
cars_gp.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb,Banglore,Good
am,,,,,,,,,,,,
0,16.450000,7.111111,295.538889,162.388889,3.177778,3.819389,18.111111,0.388889,3.111111,2.666667,0.111111,0.000000
1,24.278571,5.000000,140.992857,124.428571,4.035714,2.404500,17.449286,0.571429,4.357143,2.785714,0.785714,0.785714

In [70]:
cars_gp=cars.groupby('gear')
cars_gp.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,carb,Banglore,Good
gear,,,,,,,,,,,,
3,16.193750,7.250000,311.531250,167.312500,3.085000,3.866812,18.050000,0.312500,0.000000,2.500000,0.125000,0.000000
4,24.545455,4.727273,117.881818,91.818182,4.069091,2.489091,18.480909,0.818182,0.818182,2.272727,0.818182,0.818182
5,21.380000,6.000000,202.480000,195.600000,3.916000,2.632600,15.640000,0.200000,1.000000,4.400000,0.400000,0.400000

In [71]:
cars

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Banglore,Good
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1.0,1.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1.0,1.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0,1.0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,1.0,0.0
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1.0,1.0
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.0,0.0
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.0,0.0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,0.0,0.0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,0.0,0.0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,0.0,0.0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,0.0,0.0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,0.0,0.0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,0.0,0.0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,0.0,0.0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,0.0,0.0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,1.0,1.0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,1.0,1.0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,1.0,1.0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,1.0,0.0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,0.0,0.0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,0.0,0.0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.0,0.0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,0.0,0.0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,1.0,1.0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,1.0,1.0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,1.0,1.0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.0,0.0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.0,0.0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,0.0,0.0
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,1.0,1.0

In [72]:
cars_up

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
5,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
7,Valiant 2,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
8,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
23,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
26,Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
30,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2
32,Tata Nano,25,5,150,120,3.5,2.56,15.43,0,0,4,4

In [73]:
cars_up.shape

(33, 12)

In [74]:
cars_up.to_csv('updated_mtcars.csv')

In [75]:
pwd

'C:\\Users\\91950\\07-Dec-CDS_Batch'