# Data Types, Type Casting, Slicing, Operators, Conditional Statements, List, Tuples, Dictionary, Set, Functions, Loops

* ###  Q1) Convert the string s='India Recovering from Covid' to uppercase and split it into a list.

* ###  Q2) Write code for 9 divided by 2(Dividend=9, Divisor=2). The answer should be 4.

* ###  Q3) Solve the expression.   5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1') (Note: This is for understanding of Typecasting)

* ###  Q4)Given the string str='Certified Data Scientist'. Print 'Data' from the string 3 times. O/p should be 'DataDataData'

* ###  Q5) Solve this expression. value= 3/2*3+(12/4)**3+5-2. (Note:This for understanding the hierarchy of operators)

* ###  Q6)Write code to test whether the given number lies between 1 and 10.

* ###  Q7)Solve  
* sum the numbers from 1 to 20 using for loop
* Display the numbers in reverse from 100 to 1(Use negative indexing for step)
* Display multiples of 2 from 10 to 50 using range

* ###  Q8) From the below nested dictionary, pick the word "Bangalore". 
* d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

* ###  Q9) Use functions to return square of numbers from 2 to 5

* ###  Q10) Solve. Given the sets s1={1,2,4,5,8} s2={2,3,4,6,7}
* Find max element from s1 and minimum element from s2
* Find the union and intersection of s1 and s2