# Agenda
* Conditional statements
* List
* Tuple
* Dictionary
* Set
* Functions
* Loops

In [3]:
#Conditional Statements-> if, if-else, elif(nested if-else)
a=10
if(a==10):
    print("A value is 10")
    print("If block")
    print("Continue")
print("Out of If block")

A value is 10
If block
Continue
Out of If block

In [4]:
a=10
if(a==5): #False
    print("A value is 10")
    print("If block")
    print("Continue")
print("Out of If block") #Executes if is True/False

Out of If block

In [6]:
a=10 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")

The value is not equal to 5

In [12]:
a=10 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")

If statement fails
Else statement

In [13]:
a=0
if(a>0):
    print("A is positive")
else:
    print("A is negative")

A is negative

In [25]:
a=float(input("Enter the number"))
#a=0 #elif-> +ve,-ve,zero elseif->elif
if(a>0):
    print("A is positive")
elif(a<0):
    print("A is negative")
else:
    print("A is Zero")

Enter the number0
A is Zero

# List
* ordered heterogenous data which indexed
* mutuble
* operations
* []

In [26]:
l=[1,2,3.5,'hi',4.7]
l

[1, 2, 3.5, 'hi', 4.7]

In [27]:
type(l)

list

In [28]:
#Operations-> inserting,deleting,sort, slicing
l[2] #index value starts with 0

3.5

In [35]:
#Insertion-> append,extend,insert
l.append(6.5)
l

[1, 2, 3.5, 'hi', 4.7, 5, 6.5]

In [36]:
l.extend([7,8,9])

In [37]:
l

[1, 2, 3.5, 'hi', 4.7, 5, 6.5, 7, 8, 9]

In [38]:
l.insert(3,4) #(pos,element)
l

[1, 2, 3.5, 4, 'hi', 4.7, 5, 6.5, 7, 8, 9]

In [39]:
l.insert(0,'good')
l

['good', 1, 2, 3.5, 4, 'hi', 4.7, 5, 6.5, 7, 8, 9]

In [41]:
l.extend(l)
l

['good',
 1,
 2,
 3.5,
 4,
 'hi',
 4.7,
 5,
 6.5,
 7,
 8,
 9,
 'good',
 1,
 2,
 3.5,
 4,
 'hi',
 4.7,
 5,
 6.5,
 7,
 8,
 9]

In [47]:
l1=[3,4]
l2=[7,8]
l1.extend(l2)
l1

[3, 4, 7, 8]

In [48]:
l1.insert(-2,5)
l1

[3, 4, 5, 7, 8]

In [49]:
l1.insert(-1,10)

In [50]:
l1

[3, 4, 5, 7, 10, 8]

In [1]:
l1=[1,2,3]
l2= [4,5,7]
l3= [8,9,6]
l=l1+l2+l3
l

[1, 2, 3, 4, 5, 7, 8, 9, 6]

In [2]:
List = ["banana", "orange", "apple", "cherry", "grape"]
List[3:3] = ["mango", "papaya"]
List

['banana', 'orange', 'apple', 'mango', 'papaya', 'cherry', 'grape']

In [3]:
#Deletion-> pop,remove,del
#pop-> deletes last element and returns last elemnet from list
l1

[1, 2, 3]

In [4]:
l1.pop()

3

In [5]:
l1

[1, 2]

In [6]:
a=[2,3,4]
b=[5,8,9]
c=[1,7]
res=c + a + b
res

[1, 7, 2, 3, 4, 5, 8, 9]

In [7]:
r= a+b+c
r

[2, 3, 4, 5, 8, 9, 1, 7]

In [8]:
l2

[4, 5, 7]

In [9]:
l2.remove(5)
l2

[4, 7]

In [10]:
l3

[8, 9, 6]

In [11]:
del l3[0] #index
l3

[9, 6]

In [12]:
del l3

In [13]:
l3

NameError: name 'l3' is not defined

In [14]:
list1=[4,8,10,12]# need to insert 6 after 4=> [4,6,8,10,12] 
list1.insert(1,6)
list1

[4, 6, 8, 10, 12]

In [ ]:
list1.remove(10)
del list1[3]

In [15]:
list1.clear()

In [16]:
list1

[]

In [17]:
del list1

In [18]:
list1

NameError: name 'list1' is not defined

In [19]:
r

[2, 3, 4, 5, 8, 9, 1, 7]

In [20]:
#sort
r.sort() #ascending

In [21]:
r

[1, 2, 3, 4, 5, 7, 8, 9]

In [22]:
r.sort(reverse=False)
r

[1, 2, 3, 4, 5, 7, 8, 9]

In [23]:
r.sort(reverse=True) #descending order
r

[9, 8, 7, 5, 4, 3, 2, 1]

In [24]:
r

[9, 8, 7, 5, 4, 3, 2, 1]

In [25]:
r.pop()

1

In [26]:
r

[9, 8, 7, 5, 4, 3, 2]

In [30]:
#Slicing
r

[9, 8, 7, 5, 4, 3, 2]

In [90]:
s1=[2,6,7,8,10]
s2=[3,6,9,12,45,67]
#Q1)s1->6,7
#Q2)s2->45,67
#Q3)s1->2,6,7,8
#Q4)reverse s2
#Q5) s2-> 3,9,45
#Q6) s2->3,12

s1[1:3]

TypeError: 'set' object is not subscriptable

In [41]:
s2[-2:-5:-2]

[45, 9]

In [39]:
s2[0]+s2[3]+s2[5]

82

In [38]:
s2[-1:-3:-1]

[67, 45]

In [32]:
s2[4:]

[45, 67]

In [33]:
s1[:4]

[2, 6, 7, 8]

In [34]:
s2[::-1]

[67, 45, 12, 9, 6, 3]

In [35]:
s2[::2]

[3, 9, 45]

In [37]:
s2[::1]

[3, 6, 9, 12, 45, 67]

In [36]:
s2[::3]

[3, 12]

In [ ]:
() -functions/mod
[] ->position

# Tuples
* elements, heterogeneous 
* immutable 
* ()
* marksheets

In [27]:
t=(1,2,3.4,5,7)
t

(1, 2, 3.4, 5, 7)

In [28]:
type(t)

tuple

In [29]:
t[2]=3
t

TypeError: 'tuple' object does not support item assignment

In [40]:
s1

[2, 6, 7, 8, 10]

# Dictionary
* key/value pairs, hetergenous,unique key, useful info
* {} , ':' -> key/value pair

In [42]:
dict={1:'One',2:'Two', 3:'Three'}
dict

{1: 'One', 2: 'Two', 3: 'Three'}

In [43]:
type(dict)

dict

In [44]:
dict[2] #extracting value with key

'Two'

In [45]:
dict[3]

'Three'

In [46]:
dict.keys()

dict_keys([1, 2, 3])

In [47]:
dict.values()

dict_values(['One', 'Two', 'Three'])

In [48]:
dict.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [50]:
#Nested Dictionary
nd={1:'One', 2:{11:'Eleven',12:"Tweleve"},3:'Three'}
nd

{1: 'One', 2: {11: 'Eleven', 12: 'Tweleve'}, 3: 'Three'}

In [52]:
nd[2]

{11: 'Eleven', 12: 'Tweleve'}

In [53]:
nd[2][11]

'Eleven'

In [54]:
nd[2][12]

'Tweleve'

# Sets
* elements ascending, unique , {}

In [85]:
s1={1,2,4,3,1,3,5,1}
s1

{1, 2, 3, 4, 5}

In [86]:
#Operations-> add,union,intersection,difference
s1.add(6)

In [87]:
s1

{1, 2, 3, 4, 5, 6}

In [58]:
s2={1,9,7,5,3,1,5}
s2

{1, 3, 5, 7, 9}

In [59]:
type(s2)

set

In [60]:
s1

{1, 2, 3, 4, 5, 6}

In [61]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 9}

In [65]:
s1.intersection(s2)

{1, 3, 5}

In [62]:
s3={'hai',1}

In [63]:
s3

{1, 'hai'}

In [64]:
s3.add('abi')
s3

{1, 'abi', 'hai'}

In [66]:
s3.add(5.6)
s3

{1, 5.6, 'abi', 'hai'}

In [81]:
s3.add(0.1)
s3

{0.1, 1, 5.6, 'abi', 'hai'}

In [82]:
s3.add(2,4)
s3

TypeError: add() takes exactly one argument (2 given)

In [76]:
s4=s1.union(s2,s3)
s4

{1, 2, 3, 4, 5, 5.6, 6, 7, 9, 'abi', 'hai'}

In [69]:
s1

{1, 2, 3, 4, 5, 6}

In [70]:
s2

{1, 3, 5, 7, 9}

In [68]:
s1.difference(s2)

{2, 4, 6}

In [71]:
s2.difference(s1)

{7, 9}

# Functions
* code reusability, decompose

In [72]:
def area(side):
    return side*side
area(5)

25

In [ ]:
def functionname(parameters): #func definition
    block of stmt
functionname(para) #function call

In [80]:
def rect(len,bre):
    area=len*bre
    return area
    print("The area of Rect", area)
rect(10,5)

50

In [83]:
# vloume of cubhoid vol=l*b*h
def cuboid(len,width,height):
    volume=(len*width*height)
    return volume
    print("the volume of cuboid is",volume)
cuboid(10,5,5)

250

In [84]:
def cuboid(len,width,height):
    volume=(len*width*height)
    return volume
    print("the volume of cuboid is",volume)
cuboid(10,5,5)

250

# Loops
* while loop
* for loop

In [1]:
#while loop
#intialization
#condition
 #True-> body of the loop
 #False-> comes out of the loop

i=1
while(i<5):
    print("The value is",i)
    i=i+1
print("Out of the while loop")

The value is 1
The value is 2
The value is 3
The value is 4
Out of the while loop

In [3]:
# Print numbers from 2 to 20 (multiples of 2)2,4,6,8...20-> using while loop
i=2
while(i<21): #i<=20
    print(i)
    #i=i+2
    i+=2
print("These are multiples of 2")

2
4
6
8
10
12
14
16
18
20
These are multiples of 2

In [5]:
#for loop->range(start,stop,step)

fruits=['apple','orange','grapes','jackfruit']
for i in fruits:
    print("Fruit",i)

Fruit apple
Fruit orange
Fruit grapes
Fruit jackfruit

In [6]:
s="Hello"
for j in s:
    print(j)

H
e
l
l
o

In [7]:
for i in range(5): #stop
    print(i)

0
1
2
3
4

In [8]:
for i in range(1,6): #start, stop
    print(i)

1
2
3
4
5

In [9]:
for i in range(2,21,2): #start,stop,step
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
# print values of 5 table(5,10,....50) using for loop
for x in range(5,51,5):
    print(x)

5
10
15
20
25
30
35
40
45
50