In [1]:
print("Hello")

Hello

In [4]:
a=5
a

5

In [5]:
name="ronesh"
name

'ronesh'

In [9]:
_t=6
_t

6

In [10]:
 5t=8

SyntaxError: invalid syntax (<ipython-input-10-1497dfd52163>, line 1)

In [11]:
$r=6

SyntaxError: invalid syntax (<ipython-input-11-c5005dfe2981>, line 1)

In [12]:
name_sur="Gangavani"
name_sur

'Gangavani'

In [13]:
A=20
A

20

In [14]:
a

5

In [15]:
salary=40000

In [16]:
print(salary,name)

40000 ronesh

In [22]:
print('Name is '+name+' and Salary is :'+str(salary))

Name is ronesh and Salary is :40000

In [24]:
stat='Name is {} and Salary is : {}'

In [25]:
stat.format(name,salary)

'Name is ronesh and Salary is : 40000'

In [30]:
a=b=c="mango"

In [31]:
a

'mango'

In [33]:
b

'mango'

In [34]:
c

'mango'