# Functions

In [1]:
def func():
    print('hello')

In [2]:
func()

hello

In [16]:
def func1(name,salary):
    print("My name is "+name+'and my salary is '+str(salary))

In [17]:
func1("Ronesh",40000)

My name is Roneshand my salary is 40000

In [25]:
def func4(*names):
    print('names are : '+str(names))

In [27]:
func4('Ronesh','Ankit','Vishnu')

names are : ('Ronesh', 'Ankit', 'Vishnu')

In [32]:
def func4(*names):
    for i in names:
        print("Name is "+i)

In [33]:
func4('Ronesh','Ankit','Vishnu')

Name is Ronesh
Name is Ankit
Name is Vishnu

In [35]:
def func4(*names):
    print('names are : ',names[0:2])

In [36]:
func4('Ronesh','Ankit','Vishnu')

names are :  ('Ronesh', 'Ankit')

In [37]:
func4()

names are :  ()

In [38]:
def city(c1,c2,c3):
    print(c1)
    print(c2)
    print(c3)

In [39]:
city(c2='Nadiad',c1='Anand',c3='Ahm')

Anand
Nadiad
Ahm

In [40]:
def caculate(op1,op,op2):
    if op == "+":
        return op1+op2
    if op == '-':
        return op1-op2
    if op == "*":
        return op*op2
    if op == '/':
        return op1/op2

In [44]:
op1=int(input('Enter Operand1:'))
op=input('Enter Operator:')
op2=int(input('Enter Operand2:'))

ans=caculate(op1,op,op2)
print(ans)

Enter Operand1:3
Enter Operator:-
Enter Operand2:1
2

# Lambda
#lamba argumaent : expression

In [51]:
a = lambda x : x*x*x
d = lambda x,y : x*y

In [52]:
b=int(input('Enter X values:'))
c=int(input('Enter Y values:'))

Enter X values:3
Enter Y values:4

In [53]:
a(b)

27

In [57]:
d(b,c)

9

In [58]:
mix = lambda x,y : x*y

In [61]:
a='ronesh '
b=4

In [62]:
mix(a,b)

'ronesh ronesh ronesh ronesh '

In [65]:
mix = lambda x,y : x+str(y)
a='ronesh '
b=4

In [66]:
mix(a,b)

'ronesh 4'