# Collections

LIST

In [1]:

list1=["Ronesh","Antik","Arvind","Vishnu","Hemant","Ronesh"]
print(list1)
print(list1[:3])
list1[4]='Jessy'
print(list1)
list1.append("Vinay")
print(list1)
#list1.clear()  # clear the elements
#print(list1)
ct=list1.count("Ronesh")
print(ct)

['Ronesh', 'Antik', 'Arvind', 'Vishnu', 'Hemant', 'Ronesh']
['Ronesh', 'Antik', 'Arvind']
['Ronesh', 'Antik', 'Arvind', 'Vishnu', 'Jessy', 'Ronesh']
['Ronesh', 'Antik', 'Arvind', 'Vishnu', 'Jessy', 'Ronesh', 'Vinay']
2

In [2]:
list2=["Ronesh",23,40000.00,"Gujarat"]
print(list2)
list2.append("Nadiad")
print(list2)
list2.append(['Reading','Playing','Watching','Cricket'])
print(list2)
list2.remove("Nadiad")
print(list2)
print(list2)
#list2.remove("Reading")[4]

['Ronesh', 23, 40000.0, 'Gujarat']
['Ronesh', 23, 40000.0, 'Gujarat', 'Nadiad']
['Ronesh', 23, 40000.0, 'Gujarat', 'Nadiad', ['Reading', 'Playing', 'Watching', 'Cricket']]
['Ronesh', 23, 40000.0, 'Gujarat', ['Reading', 'Playing', 'Watching', 'Cricket']]
['Ronesh', 23, 40000.0, 'Gujarat', ['Reading', 'Playing', 'Watching', 'Cricket']]

In [3]:
#inner list elements remove
del list2[4][1]
list2

['Ronesh', 23, 40000.0, 'Gujarat', ['Reading', 'Watching', 'Cricket']]

In [8]:
list3=[3,1,9,7,5,4]
del list3[:2]
list3

[9, 7, 5, 4]

In [9]:
list3.insert(0,1) #index and values
list3

[1, 9, 7, 5, 4]

In [10]:
list3.reverse()
list3

[4, 5, 7, 9, 1]

In [11]:
list3.sort()
list3

[1, 4, 5, 7, 9]

In [15]:
list4=list3.copy()
list4

[1, 4, 5, 7, 9]

In [16]:
list4.append(10)
print(list3)
print(list4)

[1, 4, 5, 7, 9]
[1, 4, 5, 7, 9, 10]

In [17]:
list4.pop() # default  last value of list

10

In [18]:
list4

[1, 4, 5, 7, 9]

Tuple

In [27]:
t1=tuple()
t1=(1,2,3,4,5,5,5)  # allowing duplicates 
print(t1[4:])
print(t1.count(5))
print(t1.index(5))
print(t1)

(5, 5, 5)
3
4
(1, 2, 3, 4, 5, 5, 5)

Dict

In [51]:
d1={}

In [60]:
d1={'name':'Ronesh','city':'Nadiad','State':'Gujarat','Age':23}
print(d1)
print(d1['name'])
print(d1.get('city'))
print(d1.keys())
print(d1.items())

{'name': 'Ronesh', 'city': 'Nadiad', 'State': 'Gujarat', 'Age': 23}
Ronesh
Nadiad
dict_keys(['name', 'city', 'State', 'Age'])
dict_items([('name', 'Ronesh'), ('city', 'Nadiad'), ('State', 'Gujarat'), ('Age', 23)])

In [61]:
d1.update({'hobbies':["Cricket","Watching","Playing"]})
d1

{'name': 'Ronesh',
 'city': 'Nadiad',
 'State': 'Gujarat',
 'Age': 23,
 'hobbies': ['Cricket', 'Watching', 'Playing']}

In [62]:
d1.update({'Caste':('Hindu','Sindhi')})
d1

{'name': 'Ronesh',
 'city': 'Nadiad',
 'State': 'Gujarat',
 'Age': 23,
 'hobbies': ['Cricket', 'Watching', 'Playing'],
 'Caste': ('Hindu', 'Sindhi')}

In [63]:
#retraving data from list of hobbies
d1['hobbies'][1]

'Watching'

In [65]:
d1['Caste'][1]

'Sindhi'

In [67]:
d1['hobbies'][1]="Dancing"
d1

{'name': 'Ronesh',
 'city': 'Nadiad',
 'State': 'Gujarat',
 'Age': 23,
 'hobbies': ['Cricket', 'Dancing', 'Playing'],
 'Caste': ('Hindu', 'Sindhi')}

In [68]:
for i in d1.items():
    print(i)

('name', 'Ronesh')
('city', 'Nadiad')
('State', 'Gujarat')
('Age', 23)
('hobbies', ['Cricket', 'Dancing', 'Playing'])
('Caste', ('Hindu', 'Sindhi'))

In [72]:
for k,v in d1.items():
    print("Key is :"+str(k)+" and Values :"+str(v))

Key is :name and Values :Ronesh
Key is :city and Values :Nadiad
Key is :State and Values :Gujarat
Key is :Age and Values :23
Key is :hobbies and Values :['Cricket', 'Dancing', 'Playing']
Key is :Caste and Values :('Hindu', 'Sindhi')

Set

In [34]:
set1=set()
print(type(set1))
set1={1,2,3,10,"hi",10} # duplicates not allowed
print(set1)

<class 'set'>
{1, 2, 3, 'hi', 10}

In [36]:
set1 # not ordered

{1, 10, 2, 3, 'hi'}

In [37]:
set1.add(11)
set1

{1, 10, 11, 2, 3, 'hi'}

In [39]:
set2={1,3,4,7,8,9}

In [40]:
set2.union(set1)

{1, 10, 11, 2, 3, 4, 7, 8, 9, 'hi'}

In [41]:
set1.update([60,70])
set1

{1, 10, 11, 2, 3, 60, 70, 'hi'}

In [42]:
set2.intersection(set1)

{1, 3}

In [50]:
set2.intersection_update(set1)
set2

set()

In [43]:
set2.remove(3)
set2

{1, 4, 7, 8, 9}

In [47]:
set1.difference(set2)
set2

{1, 4, 7, 8, 9}

In [48]:
set1.difference_update(set2)
set2

{1, 4, 7, 8, 9}