Datatypes esc+M

In [1]:
#primitive datatypes
a=10
b=10.5
print(a+b)
c="hello"
d=True
e=2+10j

print(a)
print(b)
print(c)
print(d)
print(e)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

20.5
10
10.5
hello
True
(2+10j)
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

# Explicit - Implicit type casting

In [2]:
#implicit

a=10
b=float(a)
b

10.0

In [3]:
# a="abc"
# b=int(a)    error

a="123"
b=int(a)
b

123

In [4]:
b=True
a=int(b)
a

1

In [5]:
b=True
a=str(b)
a

'True'

In [6]:
b=-1   # values depends 
a=bool(b)
a

True

In [7]:
a=True
b=10
print(a+b)

11

In [8]:
#String


str1="ronesh"
str1

'ronesh'

In [9]:
import sys 
a=3

In [10]:
sys.getsizeof(a)

28

In [11]:
#slicing
print(str1[0])
print(str1[2])
print(str1[4])
print(str1[:4])
print(str1[2:])
print(str1[2:4])
print("---reversing---")
print(str1[:-2])
print(str1[-5:-2])
print("---main str---")
print(str1)

r
n
s
rone
nesh
ne
---reversing---
rone
one
---main str---
ronesh

In [12]:
#manipulation
str2="Data science"

print(len(str2))
print(str2.upper())
print(str2.lower())

12
DATA SCIENCE
data science

In [13]:
str2=str2.replace('science','mining')
str2

'Data mining'

In [14]:
str3="Hi Good Morning Hi i am Ronesh"
print(str3.replace("Hi","Hello",1))
print(str3.replace("Hi","Hello",2))

Hello Good Morning Hi i am Ronesh
Hello Good Morning Hello i am Ronesh

In [15]:
str3.split()

['Hi', 'Good', 'Morning', 'Hi', 'i', 'am', 'Ronesh']

In [16]:
str4="Ronesh_Gangavani"
print(str4.split("_"))
print(str4.split())

['Ronesh', 'Gangavani']
['Ronesh_Gangavani']

In [17]:
str3.find("Hi")   #index returns

0

In [18]:
if "Hi" in str3:
    print("its there")
else:
    print("Its not there")

its there

In [19]:
if "GOod" in str3:
    print(str3)
    print("its there")
else:
    print("Its not there")

Its not there

In [20]:
str3.count("Hi")

2

In [24]:
str3.index("r") #in morning

10

In [25]:
for i in str3:
    print(i, end=" ")

H i   G o o d   M o r n i n g   H i   i   a m   R o n e s h